################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Intermediate/CachedAssetRegistry.bin
/Intermediate/Build/Win64/UE4Editor/Inc/GameEnginePlugin/Timestamp
/Intermediate/Build/Win64/UE4Editor/Inc/GameEnginePlugin/GameEnginePluginGameModeBase.generated.h
/Intermediate/Build/Win64/UE4Editor/Inc/GameEnginePlugin/GameEnginePluginClasses.h
/Intermediate/Build/Win64/UE4Editor/Inc/GameEnginePlugin/GameEnginePlugin.generated.dep.h
/Intermediate/Build/Win64/UE4Editor/Inc/GameEnginePlugin/GameEnginePlugin.generated.cpp
/Intermediate/Build/Win64/UE4Editor/Development/UE4Editor-GameEnginePlugin.lib
/Intermediate/Build/Win64/UE4Editor/Development/UE4Editor-GameEnginePlugin.exp
/Intermediate/Build/Win64/UE4Editor/Development/UE4Editor-GameEnginePlugin.dll.response
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/PCLaunch.rc.res
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/PCH.GameEnginePlugin.h.cpp
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/ModuleVersionResource.rc.inl.res
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/GameEnginePluginGameModeBase.cpp.obj.response
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/GameEnginePluginGameModeBase.cpp.obj
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/GameEnginePlugin.h.pch.response
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/GameEnginePlugin.h.pch
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/GameEnginePlugin.h.obj
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/GameEnginePlugin.h
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/GameEnginePlugin.generated.cpp.obj.response
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/GameEnginePlugin.generated.cpp.obj
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/GameEnginePlugin.cpp.obj.response
/Intermediate/Build/Win64/UE4Editor/Development/GameEnginePlugin/GameEnginePlugin.cpp.obj
/Intermediate/Build/Win64/GameEnginePluginEditor/Development/GameEnginePluginEditor.uhtmanifest
/Intermediate/Build/Win64/GameEnginePluginEditor/DependencyCache.bin
/Intermediate/Build/BuildRules/GameEnginePluginModuleRulesSourceFiles.txt
/Intermediate/Build/BuildRules/GameEnginePluginModuleRules.pdb
/Intermediate/Build/BuildRules/GameEnginePluginModuleRules.dll
/Intermediate/Build/ActionHistory.bin
/Intermediate/AssetRegistryCache/c5879afc.bin
/Intermediate/AssetRegistryCache/8c0e1344.bin
/Intermediate/AssetRegistryCache/866581fd.bin
/Intermediate/AssetRegistryCache/82b4882f.bin
/Intermediate/AssetRegistryCache/4c1328a1.bin
/Intermediate/AssetRegistryCache/2657c409.bin
/Intermediate/ReimportCache/3688439234.bin
/Intermediate/ProjectFiles/UE4.vcxproj.user
/Intermediate/ProjectFiles/UE4.vcxproj.filters
/Intermediate/ProjectFiles/UE4.vcxproj
/Intermediate/ProjectFiles/GameEnginePlugin.vcxproj.user
/Intermediate/ProjectFiles/GameEnginePlugin.vcxproj.filters
/Intermediate/ProjectFiles/GameEnginePlugin.vcxproj
/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/TemplateDefs.ini
/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/Scalability.ini
/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/Lightmass.ini
/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
/Intermediate/Config/CoalescedSourceConfigs/Input.ini
/Intermediate/Config/CoalescedSourceConfigs/Hardware.ini
/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/GameplayTags.ini
/Intermediate/Config/CoalescedSourceConfigs/Game.ini
/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
/Intermediate/Config/CoalescedSourceConfigs/EditorSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/EditorPerProjectUserSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/EditorLayout.ini
/Intermediate/Config/CoalescedSourceConfigs/EditorKeyBindings.ini
/Intermediate/Config/CoalescedSourceConfigs/Editor.ini
/Intermediate/Config/CoalescedSourceConfigs/DeviceProfiles.ini
/Intermediate/Config/CoalescedSourceConfigs/Compat.ini
/Saved/Logs/UE4CC-Windows-F4AAADE84DCC1484FCF80F8C602E05A3/CrashReportClient.ini
/Saved/Logs/GameEnginePlugin.log
/Saved/Config/Windows/TranslationPickerSettings.ini
/Saved/Config/Windows/TemplateDefs.ini
/Saved/Config/Windows/SourceControlSettings.ini
/Saved/Config/Windows/Scalability.ini
/Saved/Config/Windows/LocalizationServiceSettings.ini
/Saved/Config/Windows/Lightmass.ini
/Saved/Config/Windows/InternationalizationExport.ini
/Saved/Config/Windows/Input.ini
/Saved/Config/Windows/Hardware.ini
/Saved/Config/Windows/GameUserSettings.ini
/Saved/Config/Windows/GameplayTags.ini
/Saved/Config/Windows/Game.ini
/Saved/Config/Windows/Engine.ini
/Saved/Config/Windows/EditorPerProjectUserSettings.ini
/Saved/Config/Windows/Editor.ini
/Saved/Config/Windows/DeviceProfiles.ini
/Saved/Config/Windows/Compat.ini
/Saved/AutoScreenshot.png
/Saved/Autosaves/PackageRestoreData.json
/Binaries/Win64/UE4Editor.modules
/Binaries/Win64/UE4Editor-GameEnginePlugin.pdb
/Binaries/Win64/UE4Editor-GameEnginePlugin.dll
/Binaries/Win64/GameEnginePluginEditor.target
/.vs/GameEnginePlugin/v14/.suo
/GameEnginePlugin.sln
/GameEnginePlugin.VC.db
